@import "var";

h1,
h2 {
  font-weight: normal;
}

body {
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.fl-l{
  float: left;
}
.fl-r{
  float: right;
}
