@import "var";
@import "media";

h1,
h2 {
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Microsoft YaHei","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  border: none;
}
.df{
  display: flex;
}
.flex-column{
  .df;
  flex-direction: column;
}

.fl{
  float: left;
  display: inline;
}
.fr{
  float: right;
  display: inline;
}
.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  line-height: 0;
  content: '\20';
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
