@media screen and (max-width: 768px) {
  .syaboutpic, .syaboutwen, .syshipingwen, .syshipingpic, .wudatixipic, .wudatixiwen {
    width: 100%
  }
  .symain {
    padding-left: 10px;
    padding-right: 10px;
    .syabout{
      padding: 0;
    }
  }

  .flex-column-xs{
    flex-direction: column;
  }

}
